ZALO_ACCOUNT_ID=demo-zalo
ZALO_CONNECTOR_TOKEN=replace-with-a-long-random-token
CUSTOMER_CARE_WEBHOOK_URL=http://host.docker.internal:7002/api/internal/customer-care/zalo/events
CUSTOMER_CARE_WEBHOOK_SECRET=replace-with-a-long-random-webhook-secret

CUSTOMER_CARE_TENANT_ID=1


# PS D:\monorepo-project-workspace\libredesk> 
# PS D:\monorepo-project-workspace\libredesk> $ZALO_TOKEN
# a62f427aa617419cb9b6c9e87fca976031d57d593bea44dc8434cf051600dbfc
# PS D:\monorepo-project-workspace\libredesk> $FB_TOKEN
# 2e6f51803f1848178791e70a54480898adbd0403edfd4dc188a90a8d79fd0020
# PS D:\monorepo-project-workspace\libredesk> $WEBHOOK_SECRET
# f20ff9a80f8a4f85ad1919b524857512d5499045d55940dab014eeca557cc94d
# PS D:\monorepo-project-workspace\libredesk> 